<!DOCTYPE html>
<html ng-app='missionAnmialeApp'>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="styles/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="styles/normalize.css" />
		<link rel="stylesheet" type="text/css" href="styles/demo.css" />
		<link rel="stylesheet" type="text/css" href="styles/component.css" />
		<link rel="stylesheet" type="text/css" href="styles/doubleLayout/demo.css" />
		<link rel="stylesheet" type="text/css" href="styles/doubleLayout/component.css" />
		<link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
		<link rel="stylesheet" href="styles/main.css">
	</head>

	<body ng-controller='HeaderCtrl'>

		<nav class="navbar navbar-default black-white" role="navigation" ng-init='current = 2'>
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-click="current = 1" href="#page-1">
						<img src="img/logo-black-white.png" alt="Mission Animale logo" width="217" height="32" id="logo" class="header-logo accueil">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li ng-click="current = 1" ng-class='{"current" : current == 1}' id='page-1'>
							<span class="header-links accueil">Accueil</span>
						</li>
						<li ng-click="current = 2" ng-class='{"current" : current == 2}' id="li-page-2">
							<span href="#page-2" class="header-links">Education</span>
						</li>
						<li ng-click="current = 3" ng-class='{"current" : current == 3}' id="li-page-3">
							<span href="#page-3" class="header-links">Balades & Visites</span>
						</li>
						<li ng-click="current = 4" ng-class='{"current" : current == 4}'>
							<span href="#page-4" class="header-links">Tarifs</span>
						</li>
						<li ng-click="current = 5" ng-class='{"current" : current == 5}'>
							<span href="#page-5" class="header-links">Contacts</span>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="main" ng-style="myStyle">
		<div class="background">
			
		</div>
			<div class="container page-1 pages">
				<div class="row">
					<div class="page-1-container col-md-6 col-md-offset-3">
						<p>SERVICE <span>ANIMALIER</span>, </br> ÉDUCATRICE DIPLOMÉE D'ÉTAT</p>
						<div class="line"></div>
						<div class="logo">
							<img src="img/logo-black-blue-ultra.png">
						</div>
					</div>
				</div>
				<div class="scroll">
					<div class="scroller">
						
					</div>
				</div>
			</div>

			<div class="pages" id="page-2">
				<div class="grid left">
					<figure class="effect-lily">
						<img src="img/1.jpg" alt="img01"/>
						<figcaption>
							<h2>Les <span> Cours</span></h2>
							<p>Partir de la bonne patte!</p>
						<p>Avant de commencer le travail, un devis* sera réalisé afin de mettre en place un protocole de travail pour répondre au mieux à vos attentes.</br>Problème du comportement ou éducation de base, je me déplace à votre domicile lors du premier rendez-vous. Je peux ainsi observer l'environnement dans lequel évolue votre chien et comment il se comporte.</p>
						<p>Les cours à domicile</p>
						<p>Nous commencerons le travail chez vous ou dans votre quartier, dans un espace connu du chien pour éviter qu'il soit distrait. Ensuite, en fonction du travail, nous pourrons continuer les exercices dans d'autres lieux inconnus ou viendrons s'ajouter de nouvelles stimulations.</p>
						<p>Comment travailler</p>
						<p>Le protocole mis en place et ma technique de travail est adapté à votre chien en fonction de son âge, son tempérament, sa race ... Je vais vous apprendre à adopter une bonne gestuelle, à placer votre voix et savoir observer ses postures. Comment récompenser, comment punir, il est important de rester cohérent et calme pour apprendre quoi que ce soit à votre chien. Vous l'aurez compris, vous devrez tout autant travailler que LUI !!! Mon travail consiste avant tout, à vous donner toutes les clés en mains pour que la cohabitation se passe au mieux selon vos règles, tout en respectant le bien- être de votre chien!</p>
						<p>Garantis de résultat:</p>
						<p>Lors du devis , un nombre de séances sont fixées pour atteindre vos objectifs. Arrivé à terme si celui-ci n'est pas atteint, je m'engage à continuer à mes frais les leçons supplémentaires.</p>
						</figcaption>			
					</figure>
					<figure class="effect-sadie">
						<img src="img/2.jpg" alt="img02"/>
						<figcaption>
							<h2>Pr&#233;sentation</h2>
							<p>Unerdwear.com cotton candy pie sweet chocolate gummies. Dessert jelly macaroon fruitcake apple pie ice cream chocolate bar pie donut. Jelly donut biscuit sweet. Toffee wafer powder bear claw pudding jelly beans chocolate fruitcake sugar plum. Gummies pudding sweet cookie cotton candy wafer pudding dessert sesame snaps. Chocolate sesame snaps tootsie roll. Chupa chups chocolate bar donut. Bear claw gummi bears cotton candy sweet croissant fruitcake. Sweet sugar plum lemon drops jelly beans chocolate bar.</p>
						</figcaption>			
					</figure>
					<figure class="effect-sarah">
						<img src="img/3.jpg" alt="img07"/>
						<figcaption>
							<h2>Autres services</h2>
							<p>Un accompagnement pour le choix et/ou l'arrivée d'un chiot/chien</p>
						<p>vous désirez avoir un chien depuis longtemps mais vous n'arrivez pas à faire un choix? ou l'acheter?
						vous ne savez pas comment l'accueillir au mieux?
						Mission Animale vous propose ses services pour vous aider dans le choix de la race en fonction de votre mode de vie, votre environnement, vos attentes ... l'achat d'un chien ne se réalise pas seulement au coup de coeur!!!
						Mission Animale vous propose également son aide pour accueillir votre nouveau compagnon chez vous et que tout se passe au mieux pour lui et vous. Certaines règles de base sont à mettre en place dès l'arrivée du chiot/chien . Je vous expliquerais donc les bons comportements à adopter et répondrais à toutes vos questions .</p>
						<p>Des ateliers "prévention morsures"</p>
						<p>Ces ateliers sont généralement destinés aux écoles et ont pour but d'informer les enfants sur les bons comportements à adopter avec les chiens et les initier au langage canin. Nous aborderons différents thèmes de façon ludique et adaptés au public!</p>
						</figcaption>			
					</figure>
				</div>
			</div>
			<div class="pages" id="page-3">
				<!-- <div class="balades col-md-6 col-sm-12 col-xs-12">
					<h2>Balades</h2>
					<div class="content-3 balades-content">
						<h3 class="h3-right">Simples</h3>
						<p>Si vous n'avez pas le temps de sortir votre chien dans la journée, Mission Animale  s'en occupe! Promenade utile pour la socialisation et l'hygiène de votre chien. Ballade d'une demie heure ou d'une heure.</p>
						<h3>Educatives</h3>
						<p>Pendant une heure nous alternerons entre le jeux et des exercices d'éducation. Votre chien peut être promené dans votre quartier pendant une heure ou alors aux bois pendant deux heures minimum. Pour les chiots (jusqu'à 5-6 mois). Ces promenades sont principalement axées sur sa socialisation, il est important de lui faire découvrir un maximum de choses (différents bruits, différentes odeurs, matières...) pendant ses premiers mois. Ces ballades peuvent se dérouler avec ou sans les maîtres et durent entre 1H et 1H30.</p>
						<h3 class="h3-right">Collectives</h3>
						<p>Groupe de 5 chiens maximum, répartis selon les âges et leur taille. Ballade d'une heure avec les maîtres. Nous alternerons le jeux et des exercices d'éducation dans des lieux différents .</p>
					</div>
				</div>
				<div class="visites col-md-6 col-sm-12 col-xs-12">
					<h2>Visites</h2>
					<div class="content-3 visites-content">
						<p>Je vous propose de venir rendre visite à vos animaux de compagnie (chats et nacs sauf reptiles) pour les nourrirs et m'assurer que tout va bien.
						C'est une solution simple et facile qui permet à l'animal de rester dans son environnement et de conserver ses habitudes.
						Même si ses maîtres ne sont pas là, quelqu'un veille sur lui!</p>
						<h3>Educatives</h3>
						<p>Pendant une heure nous alternerons entre le jeux et des exercices d'éducation. Votre chien peut être promené dans votre quartier pendant une heure ou alors aux bois pendant deux heures minimum. Pour les chiots (jusqu'à 5-6 mois). Ces promenades sont principalement axées sur sa socialisation, il est important de lui faire découvrir un maximum de choses (différents bruits, différentes odeurs, matières...) pendant ses premiers mois. Ces ballades peuvent se dérouler avec ou sans les maîtres et durent entre 1H et 1H30.</p>
						<h3>Collectives</h3>
						<p>Groupe de 5 chiens maximum, répartis selon les âges et leur taille. Ballade d'une heure avec les maîtres. Nous alternerons le jeux et des exercices d'éducation dans des lieux différents .</p>
					</div>
				</div> -->
				<div class="container">
					<div id="splitlayout" class="splitlayout">
						<div class="intro">
							<div class="side side-left">
								<div class="intro-content">
									<!-- <div class="profile"><img src="img/profile1.jpg" alt="profile1"></div> -->
									<h1><span>Balades</span></h1>
									<div class="left-line"></div>
									<h3>Mission Animale vous propose différentes ballades adaptées à vos besoins</h3>
								</div>
								<div class="overlay"></div>
							</div>
							<div class="side side-right">
								<div class="intro-content">
									<!-- <div class="profile"><img src="img/profile2.jpg" alt="profile2"></div> -->
									<h1><span>Visites</span></h1>
									<div class="right-line"></div>
									<h3>Vous devez vous absenter un week-end, une semaine ou plus et n'avez pas trouvé de solution pour faire garder votre ou vos compagnons?</h1>
								</div>
								<div class="overlay"></div>
							</div>
						</div><!-- /intro -->
						<div class="page page-right">
							<div class="page-inner">
								<section>
									<h1>HEllo</h1>
								</section>
							</div><!-- /page-inner -->
						</div><!-- /page-right -->
						<div class="page page-left">
							<div class="page-inner">
								<div class="page-inner-content">
									<h1>Simples</h1>
									<p>Si vous n'avez pas le temps de sortir votre chien dans la journée, Mission Animale  s'en occupe! Promenade utile pour la socialisation et l'hygiène de votre chien. Ballade d'une demie heure ou d'une heure.</p>
									<h1>Éducatives</h1>
									<p>Pendant une heure nous alternerons entre le jeux et des exercices d'éducation. Votre chien peut être promené dans votre quartier pendant une heure ou alors aux bois pendant deux heures minimum. Pour les chiots (jusqu'à 5-6 mois). Ces promenades sont principalement axées sur sa socialisation, il est important de lui faire découvrir un maximum de choses (différents bruits, différentes odeurs, matières...) pendant ses premiers mois. Ces ballades peuvent se dérouler avec ou sans les maîtres et durent entre 1H et 1H30.</p>
									<h1>Collectives</h1>
									<p>Groupe de 5 chiens maximum, répartis selon les âges et leur taille. Ballade d'une heure avec les maîtres. Nous alternerons le jeux et des exercices d'éducation dans des lieux différents .</p>
								</div>
							</div><!-- /page-inner -->
						</div><!-- /page-left -->
						<a class="back back-right" title="back to intro">&rarr;</a>
						<a class="back back-left" title="back to intro">&larr;</a>
					</div><!-- /splitlayout -->
				</div><!-- /container -->
			</div>
			<div class="pages" id="page-4">
				<div class="col-md-12 page-4-container">
					<div class="col-md-4">
						<table class="table table-bordered visites-table">
							<caption>Visites</caption>
							<tr>
								<th></th>
								<th>Chats 1h</th>
								<th>Nacs 40mn</th>
							</tr>
							<tr>
								<td>1 visite</td>
								<td>20€</td>
								<td>17€</td>
							</tr>
							<tr>
								<td>5 visites à répartir</td>
								<td>95€</td>
								<td>75€</td>
							</tr>
							<tr>
								<td>10 visites à repartir</td>
								<td>180€</td>
								<td>155€</td>
							</tr>
							<tr>
								<td>1 semaine</td>
								<td>125€</td>
								<td>110€</td>
							</tr>
							<tr>
								<td>2 semaines</td>
								<td>225€</td>
								<td>210€</td>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table table-bordered balades-table">
							<caption>Balades</caption>
							<tr>
								<th></th>
								<th>30mn</th>
								<th>1h</th>
							</tr>
							<tr>
								<td><b>Balades simple</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1 balade</td>
								<td>15€</td>
								<td>20€</td>
							</tr>
							<tr>
								<td>5 balades</td>
								<td>65€</td>
								<td>90€</td>
							</tr>
							<tr>
								<td>10 balades</td>
								<td>125€</td>
								<td>160€</td>
							</tr>
							<tr>
								<td><b>Balade éducative</b></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>1 balade</td>
								<td></td>
								<td>30€</td>
							</tr>
							<tr>
								<td>5 balades</td>
								<td></td>
								<td>140€</td>
							</tr>
							<tr>
								<td>10 balades</td>
								<td></td>
								<td>260€</td>
							</tr>
						</table>
					</div>
					<div class="col-md-4">
						<table class="table table-bordered education-table">
							<caption>Éducation</caption>
							<tr>
								<th>
									Devis personnalisé sur rendez-vous
								</th>
								<th>
									20€ déduits si le contrat est signé
								</th>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="pages" id="page-5">
				<div id="map-canvas"></div>
				<div class="contact-container">
					hrllo
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="scripts/angular.js"></script>
		<script type="text/javascript" src="scripts/bootstrap.js"></script>
		<script type="text/javascript" src="scripts/modernizr.custom.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
		<script src="scripts/classie.js"></script>
		<script src="scripts/cbpSplitLayout.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script>

		var map;
		function initialize() {
			  var mapOptions = {
			    zoom: 15,
			    scrollwheel: false,
			    center: new google.maps.LatLng(48.8374242, 2.3573167)
			  };
			  map = new google.maps.Map(document.getElementById('map-canvas'),
			      mapOptions);
			}

			google.maps.event.addDomListener(window, 'load', initialize);

    </script>
	</body>
</<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

</body>
</html>>