@font-face {
  font-family: 'Neue-Light';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Neue-Thin';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Neue-UltraLight';
  src: url('../fonts/HelveticaNeue-UltraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Neue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}

@font-face {
  font-family: 'Neue-Light';
  src: url('../fonts/HelveticaNeue-Light.otf') format('opentype');
}
@font-face {
  font-family: 'Neue-Thin';
  src: url('../fonts/HelveticaNeue-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'Neue-UltraLight';
  src: url('../fonts/HelveticaNeue-UltraLight.otf') format('opentype');
}
@font-face {
  font-family: 'Neue';
  src: url('../fonts/HelveticaNeue.ttf') format('truetype');
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'feathericons';
  src: url('../fonts/feathericons/feathericons.eot?-8is7zf');
  src: url('../fonts/feathericons/feathericons.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
}
html {
  width: 100%;
  height: 100%;
}
html body {
  font-family: 'Neue-Light';
  width: 100%;
  height: 100%;
  margin: 0;
}
html body h1,
html body h2,
html body h3 {
  margin: 0;
}
html body .black {
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  z-index: 900;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
  font-family: 'Neue-Thin';
}
html body .black .container-fluid .navbar-collapse ul {
  float: right;
}
html body .black .container-fluid .navbar-collapse ul li {
  font-size: 20px;
  font-family: 'Neue-Ultralight';
  margin: 25px;
  padding-bottom: 10px;
  transition: 0.5px;
}
html body .black .container-fluid .navbar-collapse ul li span {
  color: #222222;
  font-weight: 300;
  letter-spacing: 1px;
}
html body .black .container-fluid .navbar-collapse ul li:hover span {
  cursor: pointer;
  color: #222222;
  transition: 0.5s;
}
html body .black .container-fluid .navbar-collapse ul .current {
  border-bottom: 1px solid #222222;
}
html body .black .container-fluid .navbar-collapse ul .current span {
  color: #222222;
}
html body .white {
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  z-index: 900;
  background-color: transparent;
  border-color: transparent;
  color: #222222;
  font-family: 'Neue-Thin';
}
html body .white .container-fluid .navbar-collapse ul {
  float: right;
}
html body .white .container-fluid .navbar-collapse ul li {
  font-size: 20px;
  font-family: 'Neue-Ultralight';
  margin: 25px;
  padding-bottom: 10px;
  transition: 0.5px;
}
html body .white .container-fluid .navbar-collapse ul li span {
  color: #222222;
  font-weight: 300;
  letter-spacing: 1px;
}
html body .white .container-fluid .navbar-collapse ul li:hover span {
  cursor: pointer;
  color: #222222;
  transition: 0.5s;
}
html body .white .container-fluid .navbar-collapse ul .current {
  border-bottom: 1px solid #222222;
}
html body .white .container-fluid .navbar-collapse ul .current span {
  color: #222222;
}
html body .black-white {
  width: 100%;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  z-index: 900;
  background-color: transparent;
  border-color: transparent;
  color: #222222;
  font-family: 'Neue-Thin';
}
html body .black-white .container-fluid .navbar-collapse ul {
  float: right;
}
html body .black-white .container-fluid .navbar-collapse ul li {
  font-size: 20px;
  font-family: 'Neue-Ultralight';
  margin: 25px;
  padding-bottom: 10px;
  transition: 0.5px;
}
html body .black-white .container-fluid .navbar-collapse ul li span {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1px;
}
html body .black-white .container-fluid .navbar-collapse ul li:hover span {
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}
html body .black-white .container-fluid .navbar-collapse ul .current {
  border-bottom: 1px solid #ffffff;
}
html body .black-white .container-fluid .navbar-collapse ul .current span {
  color: #ffffff;
}
html body #main {
  width: 100%;
  height: 500%;
}
html body #main .background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
}
html body #main .white-background {
  position: absolute;
}
html body #main .pages {
  width: 100%;
  height: 20%;
  font-size: 14px;
  text-align: justify;
}
html body #main .page-1 {
  color: #ffffff;
  position: relative;
  display: table;
}
html body #main .page-1 .row {
  display: table-cell;
  vertical-align: middle;
}
html body #main .page-1 .row .page-1-container {
  text-align: center;
  position: relative;
}
html body #main .page-1 .row .page-1-container p {
  font-size: 2.5em;
  font-family: 'Montserrat';
  font-weight: 400;
}
html body #main .page-1 .row .page-1-container span {
  color: #00a3e8;
}
html body #main .page-1 .row .page-1-container .line {
  width: 70%;
  margin: 15px auto;
  height: 1px;
  background-color: #ffffff;
}
html body #main .page-1 .scroll {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-align: center;
}
html body #main .page-1 .scroll .scroller {
  margin: 0 auto;
  background-image: url('../img/scroll_down.png');
  background-size: cover;
  width: 60px;
  height: 60px;
  webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
html body #main .page-1 .scroll .scroller:hover {
  background-image: url('../img/scroll_down_blue.png');
}
html body #main .page-1 .scroll .scroller {
  cursor: pointer;
}
html body #main #page-2 .grid figure {
  display: block;
}
html body #main #page-2 .grid .effect-sadie {
  border-bottom: solid 2px #fff;
}
html body #main #page-2 .grid .effect-lily {
  border-left: solid 2px #fff;
}
html body #main #page-2 #title-2 {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
html body #main #page-2 .content-2 {
  height: 50%;
  color: #fff;
  display: table;
}
html body #main #page-2 .content-2 .title {
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
html body #main #page-2 .content-2 .title h3 {
  font-family: 'Neue-Ultralight';
  font-size: 32px;
}
html body #main #page-2 .content-2-1 {
  background-color: red;
}
html body #main #page-2 .content-2-2 {
  background-color: blue;
}
html body #main #page-2 .content-2-3 {
  background-color: green;
}
html body #main #page-3 .visites {
  border-left: solid 2px #fff;
}
html body #main #page-3 .balades,
html body #main #page-3 .visites {
  color: #fff;
  padding-top: 125px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
html body #main #page-3 .balades:hover,
html body #main #page-3 .visites:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
html body #main #page-3 h2 {
  text-align: center;
  font-family: 'Neue-Light';
  width: 40%;
  margin: 0 auto;
  font-size: 62px;
  margin-bottom: 30px;
}
html body #main #page-3 .content-3 {
  padding: 5%;
}
html body #main #page-3 .content-3 h3 {
  font-family: 'Neue-Light';
  font-size: 36px;
  color: #00a3e8;
  width: 100%;
}
html body #main #page-3 .content-3 .h3-right {
  text-align: right;
}
html body #main #page-3 .content-3 p {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  html body #main #page-3 .content-3 {
    padding: 2%;
  }
}
html body #main #page-3 .balades-content {
  width: 70%;
}
html body #main #page-3 .visites-content {
  width: 70%;
  float: right;
}
html body #main #page-4 .page-4-container {
  width: 100%;
  height: 100%;
  background-color: white;
}
html body #main #page-5:target {
  left: 0;
  transiton: 2s;
}
